

html {
    position: relative;
    min-height: 100%;
}

body { 
    background: url("../img/fries.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
   
}
.card-header {
    background-color: rgb(235, 119, 25);
    color: #fff;
}

footer {
    position: absolute;
    bottom: 0;
    height: 45px;
    text-align: center;
    width: 100%;
    background-color:#905D2E;
    border-top: 5px solid #00970C;
}

footer small {
    line-height: 40px;
    color: #D2B773;
    font-size: 12px;
}
.btn {
    background-color: #D2B773;
}
.btn-primary{
    background-color: brown;
}